@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Major+Mono+Display&display=swap');

:root {
    --text: hsl(0, 0%, 85%);
    --grey: hsl(0, 0%, 47%);
    --light-grey: hsl(0, 0%, 70%);
    --purple: hsl(270, 80%, 30%);
    --green: hsl(120, 100%, 40%);
    --red: hsl(0, 100%, 30%);
    --green-highlight: hsla(120, 80%, 25%, 0.6);
    --red-highlight: hsla(0, 70%, 25%, 0.6);

    --protoss: hsl(51, 80%, 50%);
    --zerg: hsl(274, 100%, 30%);
    --terran: hsl(27, 80%, 41%);

    --primary-blue: hsl(210, 68%, 47%);
    --primary-blue-hover: hsl(210, 85%, 60%);
    --primary-dark-1: hsl(230, 70%, 6%);
    --primary-dark-2: hsl(230, 60%, 8%);
    --primary-light-1: hsl(210, 70%, 16%);
    --primary-light-2: hsl(210, 65%, 20%);
    --primary-light-3: hsl(210, 60%, 24%);
    --secondary-dark-1: hsl(210, 90%, 8%);
    --secondary-dark-2: hsl(210, 85%, 10%);
    --secondary-dark-3: hsl(210, 80%, 12%);

    --error: hsl(0, 100%, 30%);
    --info: hsl(210, 75%, 35%);
    --success: hsl(120, 80%, 20%);

    --line-shade-1: hsl(208, 77%, 10%);
    --line-shade-2: hsl(208, 80%, 25%);
    --line-shade-3: hsl(208, 83%, 40%);
    --line-shade-4: hsl(208, 86%, 55%);
    --line-shade-5: hsl(208, 89%, 70%);
    --line-shade-6: hsl(180, 25%, 15%);
    --line-shade-7: hsl(180, 25%, 30%);
    --line-shade-8: hsl(180, 25%, 45%);
    --line-shade-9: hsl(180, 25%, 60%);
}

html, body, #root, .App {
    height: max-content;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--primary-dark-1);
    color: hsl(0, 0%, 85%);
    margin: 0;
    overflow-x: hidden;
}

.App {
    width: 60%;
    margin: 20px auto 0;
}

.App__title {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}
