.WinrateGrid {
    border-collapse: collapse;
    display: inline-block;
}

/* removing borders around value cells */

.WinrateGrid__row:nth-child(2) .WinrateGrid__cell {
    border-top: none;
}

.WinrateGrid__row .WinrateGrid__cell:nth-child(2) {
    border-left: none;
}

.WinrateGrid__row:last-child .WinrateGrid__cell {
    border-bottom: none;
}

.WinrateGrid__row .WinrateGrid__cell:last-child {
    border-right: none;
}

/* removing borders around value cells */

/* rounding table borders */

.WinrateGrid__row:nth-child(2) .WinrateGrid__cell:nth-child(2) {
    border-radius: 15px 0 0 0;
}

.WinrateGrid__row:nth-child(2) .WinrateGrid__cell:last-child {
    border-radius: 0 15px 0 0;
}

.WinrateGrid__row:last-child .WinrateGrid__cell:nth-child(2) {
    border-radius: 0 0 0 15px;
}

.WinrateGrid__row:last-child .WinrateGrid__cell:last-child {
    border-radius: 0 0 15px 0;
}

/* rounding table borders */

.WinrateGrid__cell {
    padding: 0;
    margin: 0;
    height: 150px;
    width: 150px;
    font-size: 18px;
    text-align: center;
    color: hsl(0, 0%, 85%);
    border: 1px solid hsl(0, 0%, 85%);
    transition: 0.5s;
}

.WinrateGrid__cell--header {
    border: none;
}

.WinrateGrid__cell--mirror {
    background-color: hsl(0, 0%, 47%);
}

.WinrateGrid__cell--value {
    
}

.WinrateGrid__cell--value:hover {
    opacity: 0.7;
}
