.WinrateSummary {
    margin: 30px 0;
    padding: 30px 20px 15px;
    border: 2px solid hsl(210, 60%, 24%);
    border-radius: 10px;
}

.WinrateSummary__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -50px 0 10px;
    height: 40px;
}

.WinrateSummary__title {
    display: flex;
    align-items: center;
    margin: -3px 0 0;
    height: 100%;
    width: max-content;
    padding: 0 5px;
    font-size: 28px;
    background-color: var(--primary-dark-1);
}

.WinrateSummary__controls {
    display: inline-flex;
    position: relative;
    height: 100%;
    width: max-content;
    padding: 0 5px;
    font-size: 24px;
    background-color: var(--primary-dark-1);
    box-shadow: 0 0 0 2px var(--primary-light-3) inset;
    border-radius: 20px;
}

.WinrateSummary__controls::before {
    content: '';
    top: 5px;
    height: 30px;
    width: 125px;
    position: absolute;
    background: var(--primary-light-2);
    border-radius: 15px;
    transition: .3s;
}

.WinrateSummary__controls--player::before {
    transform: translateX(125px);
}

.WinrateSummary__control-option {
    display: inline-block;
    z-index: 1;
    padding: 0;
    margin: 10px 20px;
    width: 85px;
    border: none;
    background-color: transparent;    
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.WinrateSummary__control-option:hover,
.WinrateSummary__control-option:focus {
    cursor: pointer;
    outline: none;
}

.WinrateSummary__winrate-data {
    margin-top: 20px;
}

.WinrateSummary__data-point {
    display: grid;
    grid-template: 1fr / max-content 1fr max-content;
    grid-template-areas: 'matchup value-bar value';
    align-items: center;
    margin-bottom: 5px;
}

.WinrateSummary__value-name {
    grid-area: matchup;
    display: inline-block;
    margin: 0;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
}

.WinrateSummary__value-name--matchup {
    width: 32px;
}

.WinrateSummary__value-name--player {
    width: 100px;
}

.WinrateSummary__value-bar-wrapper {
    grid-area: value-bar;
    display: inline;
}

.WinrateSummary__value-bar-wrapper--protoss {
    filter: drop-shadow(0 0 4px hsl(50, 80%, 45%));
}

.WinrateSummary__value-bar-wrapper--zerg {
    filter: drop-shadow(0 0 4px hsl(270, 80%, 35%));
}

.WinrateSummary__value-bar-wrapper--terran {
    filter: drop-shadow(0 0 4px hsl(15, 90%, 40%));
}

.WinrateSummary__values {
    grid-area: value;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin: 0;
    width: 100px;
    font-size: 16px;
    font-weight: 400;
}

@media(max-width: 1000px) {
    .WinrateSummary__title {
        font-size: 24px;
    }

    .WinrateSummary__controls::before {
        width: 95px;
    }

    .WinrateSummary__controls--player::before {
        transform: translateX(95px);
    }

    .WinrateSummary__control-option {
        font-size: 14px;
        width: 75px;
        margin: 10px;
    }
}

@media(max-width: 800px) {
    .WinrateSummary__value-bar {
        stroke-width: 1;
    }
}

@media(max-width: 600px) {
    .WinrateSummary__title {
        font-size: 18px;
    }

    .WinrateSummary__controls::before {
        width: 77px;
    }

    .WinrateSummary__controls--player::before {
        transform: translateX(77px);
    }

    .WinrateSummary__control-option {
        font-size: 12px;
        width: 65px;
        margin: 6px;
    }

    .WinrateSummary__value-name--player {
        font-size: 14px;
        width: 85px;
    }

    .WinrateSummary__value-bar {
        stroke-width: 2;
    }

    .WinrateSummary__values--player {
        font-size: 14px;
        width: 85px;
    }
}
